<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
</head>

<div class="d-flex justify-content-start flex-row p-2 navbar">
{% block navbar %}
    <a href="{% url 'homepage' %}" class="flex-col pr-2 navlink btn" role="button">Homepage</a>
    <a href="{% url 'index_products' %}" class="flex-col pr-2 navlink btn" role="button">Products</a>
    <a href="{% url 'index_collections' %}" class="flex-col pr-2 navlink btn" role="button">Collections</a>
{% endblock navbar %}
</div>

<div class="row p-3">
    {% block content %}{% endblock content %}
</div>

</html>