<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'store/style.css' %}">
</head>

{% block navbar %}
<div class="row p-2 m-0 navbar">
    <div class="col d-flex justify-content-start">
        <a href="{% url 'homepage' %}" class="navlink btn" role="button">Homepage</a>
        <a href="{% url 'index_products' %}" class="navlink btn" role="button">Products</a>
        <a href="{% url 'index_collections' %}" class="navlink btn" role="button">Collections</a>
    </div>
    <div class="col d-flex justify-content-end">
        <a href="{% url 'index_cart_items' %}" class="navlink btn" role="button">Cart</a>
    </div>
</div>
{% endblock navbar %}

<div class="row p-3">
    {% block content %}{% endblock content %}
</div>

</html>