<!DOCTYPE html>
{% extends 'store/base.html' %}
{% block content %}
{% load static %}
{% comment %} <script src="{% static 'cart.js' %}"></script> {% endcomment %}
    <h2>Your Cart</h2>

    <div class="col-6">
        {% if items_in_cart %}
        <div class="container">
            {% for cart_item in items_in_cart %}
                    <div class="row">
                        <div class="col">
                            <div class="listItem float-end rounded my-2 p-3">
                                <div class="row">
                                {% comment %} The inside of each cart {% endcomment %}
                                    <div class="col col-lg-auto"><img src="{{ cart_item.product.photo.url }}" class="img-cart"></div>
                                    <div class="col">
                                        <div class="row">{{ cart_item.product.title }}</div>
                                        <div class="row">£{{ cart_item.product.price }} each</div>
                                    </div>
                                    <div class="col">
                                        <div>Qty: </div>
                                        <form action="{% url 'change_item_quantity' product_id=cart_item.id %}" method="get">
                                            <input type="number" name="quantity" min="1" max="{{cart_item.product.inventory}}" value="{{ cart_item.quantity }}">
                                            <input type="submit" value="Submit">
                                        </form>
                                    </div>
                                    <div class="col">Total: {{ cart_item.totalPrice }}</div>
                                    <div class="col">
                                        <a href="{% url 'delete_from_cart' cart_item.id %}" role="button">
                                            <img src="{% get_media_prefix %}{{"Cancel_btn.png"}}" width="20px", height="20px">
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        {% else %}
            <p>No products are in your cart.</p>
        {% endif %}
    </div>
    <div class="col-6">
        <div class="listItem float-start rounded my-2 p-3">
            <div>Total: £{{ cart.totalPrice }}</div>
            <br>
            <a href="" class="w-100 btn btn-info" role="button"><h3>Checkout</h3></a>
        </div>
    </div>
{% endblock content %}