{% comment %} <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form> {% endcomment %}

<!DOCTYPE html>
{% block content %}
    <h2>{{model_name}}</h2>

    {% if object %}
        {% for key,value in object_dict.items %}
            {% if key == "title" %}
                <h2>{{ value }}</h2>
            {% else %}
                <p>{{ key }} : {{ value }}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>This product does not exist.</p>
    {% endif %}
    
{% endblock %}