<!DOCTYPE html>
{% extends 'store/base.html' %}
{% block content %}
    {% load static %}
    {% csrf_token %}
    <script>
        var contextProduct =  {
            id: {{ product.id }},
            title: "{{ product.title }}",
        }
        
        {% if cartItem == None %}
            var contextCartItem = false;
        {% else %}
            var contextCartItem = true;
        {% endif %}
    </script>
    <script src="{% static 'store/product.js' %}"></script>

    {% if product %}
        <div class="container">
            <div class="row justify-content-md-center">
                {% comment %} Image {% endcomment %}
                <div class="col-auto">
                    <img src="{{ product.photo.url }}" class="img-fluid img-detail">  
                </div>
                {% comment %} Info {% endcomment %}
                <div class="col">
                    <div class="container">
                        <div class="row">{{ product.title }}</div>
                        <div class="row">
                            <div class="col p-0 heading">£{{ product.price }}</div>
                            {% comment %} Add to cart and Change quantity form {% endcomment %}
                            <div class="col p-0">
                                <div class="row mx-0 h-100" style="display: grid">
                                    <button class="btn btn-primary addToCartBtn" type="button">Add to Cart</button>
                                </div>
                                <div class="row mx-0 h-100 border rounded border-primary border-2 justify-content-center changeQuantityForm" style="display: none">
                                    <div class="col-auto px-1 my-auto">
                                        <input class="p-2 ms-2 itemQuantity" type="number" name="quantity" min="1" max="{{product.inventory}}" value={{ cartItem.quantity }} placeholder="quantity" size=10>
                                    </div>
                                    <div class="col-auto px-1 my-auto">
                                        <button class="btn btn-primary py-2 incQuantity" id="incQuantity">🡅</button>
                                    </div>
                                    <div class="col-auto px-1 my-auto">
                                        <button class="btn btn-secondary py-2 decQuantity" id="decQuantity">🡇</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if product.inventory <= 20 %}
                            <div class="row">There's only {{ product.inventory }} left in stock!</div>
                        {% endif %}
                        <div class="row">{{ product.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>This product does not exist.</p>
    {% endif %}
{% endblock %}