.navbar {
    background-color: rgb(63, 63, 63);
}

.navlink {
    color: lightgray;
}

.listcol {
    background-color: lightgray;
    flex: 0 0 30em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.listItem {
    background-color: lightgray;
    /* margin-left:auto;
    margin-right:auto; */
    /* max-width:75%; */
    width:75%;
}

.img-cart {
    width: 200px;
    height: 120px;
    object-fit: cover;
}